div.content-wrapper {
    //padding: 20px 10px;

    h1 {
        margin-bottom: 0;
    }

    table {
        tr {
            td {
                p {
                    margin: 0;
                    padding-right: 30px;
                }
            }
        }
    }

    p.framework-title {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        margin-top: 0;

        li {
            margin-bottom: 4px;
        }
    }

    footer {
        margin-top: 10px;
        display: flex;

        align-items: center;
        justify-content: stretch;

        p.disclaimer {
            margin-right: 20px;
        }

        span.space-extender {
            flex: 1 1 auto;
        }
    }
}



a {
    text-decoration: none;
    color: #1A43B9;
}
