<div class="content-wrapper">
    <h1 class="mat-title">Scheduler</h1>
    <p class="mat-body">Organize your classes</p>
    <table>
        <tr>
            <td>
                <p class="mat-body-2">Version</p>
            </td>
            <td>
                <p class="mat-body">0.9.1</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="mat-body-2">Author</p>
            </td>
            <td>
                <p class="mat-body">Adithya Haridas</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="mat-body-2">Source</p>
            </td>
            <td>
                <p class="mat-body">
                    <a href="https://www.github.com/surc54/schedule-template" target="_blank">
                        GitHub ~/surc54/schedule-template
                    </a>
                </p>
            </td>
        </tr>
    </table>

    <p class="mat-body-2 framework-title">Frameworks used:</p>
    <ul>
        <li>
            <a class="mat-body-1" target="_blank" href="https://nodejs.org/en/">NodeJS</a>
        </li>
        <li>
            <a class="mat-body-1" target="_blank" href="https://expressjs.com/">Express (server)</a>
        </li>
        <li>
            <a class="mat-body-1" target="_blank" href="https://angular.io/">Angular</a>
        </li>
        <li>
            <a class="mat-body-1" target="_blank" href="https://material.angular.io/">Material for Angular</a>
        </li>
    </ul>
    <!--<p class="mat-body">-->
        <!--Data retrieved from UF servers.-->
    <!--</p>-->
    <footer>
        <p class="mat-body-2 disclaimer">
            This website is not a replacement for ONE.UF services.
        </p>
        <span class="space-extender"></span>
        <button mat-raised-button color="primary" (click)="closeModal()">Close</button>
    </footer>
</div>
