<div class="content-wrapper">
    <h1 class="mat-title">Schedule Template</h1>
    <p>A small project that helps users create sample schedules.</p>
    <footer>
        <p class="mat-caption">
            Source available on
            <a href="https://github.com/surc54/schedule-template" target="_blank">
                Github
            </a>
            <mat-icon class="open-ext">open_in_new</mat-icon>
        </p>
        <span class="space-extender"></span>
        <button mat-button (click)="closeModal()">Close</button>
    </footer>
</div>
