<mat-card class="class-card" @courseListItem
    [style.background]="course.options.colors.background" [style.color]="course.options.colors.foreground"
    [class.foreground-white]="course.options.colors.foreground == 'white'"
    [class.foreground-black]="course.options.colors.foreground == 'black'">
    <mat-card-title-group>
        <mat-card-title>{{course.name}}</mat-card-title>
        <mat-card-subtitle>{{course.courseCode + " (" + course.classNumber + ")"}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <mat-divider class="header-content-divider"></mat-divider>
        <div class="instructor-info">
            <strong>Instructor(s): </strong>
            <app-class-card-instructor></app-class-card-instructor>
        </div>
    </mat-card-content>
    <!--<mat-card-actions *ngIf="footer === 'IN_COURSE_LIST'">-->
        <!--<button mat-button (click)="remove()">REMOVE</button>-->
        <!--<button mat-button>DETAILS</button>-->
    <!--</mat-card-actions>-->
    <!--<mat-card-actions *ngIf="footer === 'IN_SEARCH'">-->
        <!--<button mat-stroked-button color="accent" *ngIf="!courseManager.alreadyInCourseList(course.classNumber)">ADD</button>-->
        <!--<button mat-button (click)="remove()" *ngIf="courseManager.alreadyInCourseList(course.classNumber)">REMOVE</button>-->
    <!--</mat-card-actions>-->
    <mat-card-actions *ngIf="footer === 'IN_SEARCH'">
        <button mat-button>DETAILS</button>
        <button mat-stroked-button color="accent" *ngIf="!courseManager.alreadyInCourseList(course.classNumber)">ADD</button>
        <button mat-button (click)="remove()" *ngIf="courseManager.alreadyInCourseList(course.classNumber)">REMOVE</button>
    </mat-card-actions>
</mat-card>
