<section class="content">
    <app-toolbar class="app-toolbar" [sidebar]="sidebar" (clickAdd)="addMode = $event"></app-toolbar>

    <mat-sidenav-container class="main-content">
        <mat-sidenav class="sidebar-content" #sidebar mode="side" opened style="width: 400px;">
            <mat-toolbar class="sidenav-toolbar">
                <span>{{addMode ? "Search" : "Courses"}}</span>
                <span class="fill-space"></span>
                <button class="action-btn" mat-icon-button (click)="addMode = !addMode"
                        [matTooltip]="!addMode ? 'Add Courses' : 'Back to course list'" matTooltipPosition="below">
                    <mat-icon [@sidebarTitleButtonRotation]="addMode ? 'rotated' : 'normal'">add</mat-icon>
                </button>
            </mat-toolbar>
            <div class="sidebar-inside-item">

                <app-course-list @sidebarParent *ngIf="addMode === false"></app-course-list>
                <app-course-add  @sidebarParent *ngIf="addMode === true"></app-course-add>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-schedule-table></app-schedule-table>
        </mat-sidenav-content>
    </mat-sidenav-container>


    <router-outlet></router-outlet>

</section>
