.content {
    //padding: 20px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.no-courses {
    position: absolute;
    padding-top: 50px;

    text-align: center;
    color: #707070;

    //width: 100%; // nevermind below
    width: calc(100% - 20px); // somehow managed to start working without this

    > mat-icon {
        display: inline;
        font-size: 50px;
    }

    p.mat-body-2 {
        margin-bottom: 0;
    }

    p.mat-body-1 {
        margin-top: 0;

        mat-icon {
            margin-bottom: -5px;
        }
    }
}
