@import "./reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,700|Oswald|Roboto|Material+Icons');

$primary: #c62828;
$primary-light: #ff5f52;
$primary-dark: #8e0000;

$secondary: #e64a19;
$secondary-light: #ff7d47;
$secondary-dark: #ac0800;

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
}

html {
    font-size: 62.5%;
    transition: font-size 0;
}

body {
    color: #707070;
    font-family: "Open Sans", sans-serif;
}

button.s_btn {
    background: transparent;
    border: none;
    padding: 10px 15px;
    color: #707070;
    font-weight: 700;
    outline: none;
    border-radius: 5px;

    &:hover {
        background: rgba(170, 170, 170, 0.2);
    }

    &:active {
        background: rgba(170, 170, 170, 0.5);
    }
}