.anim-slide-right {
  &-enter-active,
  &-leave-active {
    transition: transform 0.25s, opacity 0.25s;
  }

  &-enter {
    &-from {
      transform: translateX(-100px) !important;
      opacity: 0 !important;
    }

    &-to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &-leave {
    &-from {
      transform: translateX(0);
      opacity: 1;
    }

    &-to {
      transform: translateX(100px);
      opacity: 0;
    }
  }
}

.anim-slide-left {
  &-enter-active,
  &-leave-active {
    transition: transform 0.25s, opacity 0.25s;
  }

  &-enter {
    &-from {
      transform: translateX(100px) !important;
      opacity: 0 !important;
    }

    &-to {
      transform: translateX(0) !important;
      opacity: 1 !important;
    }
  }

  &-leave {
    &-from {
      transform: translateX(0) !important;
      opacity: 1 !important;
    }

    &-to {
      transform: translateX(-100px) !important;
      opacity: 0 !important;
    }
  }
}
