.surc-ripple {
  position: relative;

  > .surc-ripple-root {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .surc-ripple-element {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      background: var(--surc-ripple-color, rgba(0, 0, 0, 0.3));

      width: var(--surc-ripple-size);
      height: var(--surc-ripple-size);
      left: var(--surc-ripple-x);
      top: var(--surc-ripple-y);

      animation: ripple 1s;
      opacity: 0;
    }
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
